@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main container setup */
.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  pointer-events: none;
}

/* Enable dark mode and set background color */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Allow scrolling */
  background-color: #121212;
  color: white;
}

/* Manga reader setup */
.manga-reader-container {
  width: 100%;
  height: 100%;
  overflow: auto; /* Allow scrolling only in manga reader */
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-pages {
  display: flex;
  flex-direction: row; /* Flex direction will change based on reading mode */
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.manga-page {
  max-width: 100%;
  height: 100vh;
  object-fit: contain; /* Adjust image fitting */
  transition: transform 0.5s ease-in-out;
}

/* Tailwind Styles */
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
